<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    This is a form page
    <form:form action="formoutput.html" commandName="user"  >
      <table align="center" >
        <tr>
          <td>User Name :</td>
          <td><form:input path="userName" /></td>
        </tr>
        <tr>
          <td>Password :</td>
          <td><form:input path="password" /></td>
        </tr>
        <tr>
          <td> First Name :</td>
          <td><form:input path="firstName" /></td>
        </tr>
        <tr>
          <td> Last Name :</td>
          <td><form:input path="lastName" /></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="Submit" /></td>
        </tr>
      </table>
    </form:form>
  </body>
</html>
